# PyTorch and related (install with custom index after env creation)
pydantic
google-generativeai
loguru>=0.7.0
pytest>=7.0
pytest-loguru
numexpr
allure-pytest
opencv-python==4.10.0.84
ruff>=0.1.0
rich>=10.0.0
# Add other pip dependencies here